@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: 'Baloo Cyrillic';
	src: url('/baloo-cyrillic.ttf') format('truetype');
}

@import 'tailwindcss';

@theme {
	--default-font-family: 'M PLUS Rounded 1c', sans-serif;
	--font-baloo: 'Baloo Cyrillic', sans-serif;
	--font-opsz: auto;
	--color-main: #fdf6ed;
	--color-secondary: #fbe3c3;
	--color-button: #f88c41;
	--color-sweet-orange: #ff6f00;
	--color-puzzle-bg: #711e02;
}
@layer {
	body {
		@apply h-screen;
		@apply bg-main;
		@apply font-normal;
		font-style: normal;
	}
}
