@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Inter", sans-serif;
    --font-opsz: auto;
    --color-main: #F8D8B5;
    --color-secondary: #EDC5A0;
    --color-button: #FA9047;

}
@layer {
    body {
        @apply h-screen;
        @apply bg-main;
    }
     
}